/* Default Tags */
form {
  height: 100%;
  width: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 8px;
  padding: 8px;
  background: none;
  border: 2px solid white;
  font-size: 16px;
  transition: border 0.5s ease-out;
}

textarea {
  width: 100%;
  min-height: 70%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: none;
  background: none;
  border: 2px solid white;
  padding: 12px;
  margin-bottom: 8px;
  transition: border 0.5s ease-out;
  font-size: 16px;
}

input[type=submit] {
  width: 100%;
  height: 12%;
  background: none;
  border: 2px solid white;
  padding: 8px;
  margin-bottom: 12px;
  transition: border 0.5s ease-out;
}

textarea:focus, input:focus {
  outline: none;
  transition: border 0.5s ease-in;
  border-color: rgb(180, 83, 254);
}

input[type=submit]:hover {
  border: 2px solid rgb(180, 83, 254);
  transition: border 0.5s ease-in;
  cursor: pointer;
}

button {
  padding: 8px;
  margin: 4px;
  background: none;
  border: 2px solid white;
  display: inline;
}

button:hover {
  cursor: pointer;
}

/* Classes */
.control {
  display: flex;
  height: 50vh;
}

.edit {
  height: 35vh;
  border: 2px solid white;
  margin: 16px;
  padding: 16px;
}

.entry-list, .info {
  border: 2px solid white;
  margin: 16px;
  padding: 16px;
}

.entry-list {
  text-align: left;
  flex: 50%;
  overflow: auto;
}

.info {
  flex: 50%;
}

.entry {
  background-color: rgb(35, 35, 35);
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 8px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.entry-info {
  display: flex;
  width: 100%;
  text-align: center;
}

.username, .entry_date {
  flex: 50%;
  border: 2px solid white;
  margin: 4px;
  padding: 8px;
}

.text {
  width: 100%;
  border: 2px solid white;
  margin: 4px;
  padding: 8px;
  white-space: pre-wrap;
}

.stats {
  margin: 4px;
  margin-bottom: 32px;
  border-bottom: 2px solid white;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.delete, .edit_b, .btn {
  flex: 50%;
  transition: background-color 0.5s ease-out;
}

.delete, .edit_b:hover, .btn {
  transition: background-color 0.5s ease-out;
}

.btn:hover {
  background-color: rgba(180, 83, 254, 0.4);
}

.delete:hover {
  background-color: rgba(254, 88, 88, 0.4);
}

.edit_b:hover {
  background-color: rgba(126, 254, 131, 0.4);
}

/* IDs */