@import url('https://fonts.googleapis.com/css?family=Pavanam&display=swap');

/* Default Tags */
* {
  color: white;
  font-family: 'Pavanam', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  width: 45%;
  margin: 16px;
  float: left;
  text-align: center;
}

li {
  padding: 8px;
}

form {
  height: 100%;
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 90%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: none;
  background: none;
  border: 2px solid white;
  padding: 12px;
  transition: border 0.5s ease-out;
  font-size: 16px;
}

input[type=submit] {
  width: 100%;
  height: 10%;
  background: none;
  border: 2px solid white;
  padding: 8px;
  transition: border 0.5s ease-out;
}

textarea:focus, input[type=submit]:focus {
  outline: none;
  transition: border 0.5s ease-in;
}

textarea:focus {
  border-color: purple;
}

input[type=submit]:hover {
  border: 2px solid purple;
  transition: border 0.5s ease-in;
  cursor: pointer;
}

button {
  padding: 8px;
  margin: 4px;
  background: none;
  border: 2px solid white;
  width: 48.8%;
  display: inline;
}

button:hover {
  cursor: pointer;
}

/* Classes */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  flex: 12%;
  background-color: rgb(50, 50, 50);
}

.main {
  flex: 88%;
  background-color: rgb(20, 20, 20);
  text-align: left;
}

.control {
  display: flex;
  height: 50vh;
}

.edit {
  height: 40vh;
  border: 2px solid white;
  margin: 16px;
  padding: 16px;
}

.entry-list, .info {
  border: 2px solid white;
  margin: 16px;
  padding: 16px;
}

.entry-list {
  text-align: left;
  flex: 50%;
  overflow: auto;
}

.info {
  flex: 50%;
}

.entry {
  background-color: rgb(35, 35, 35);
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 8px;
  margin-bottom: 12px;
}

.entry-info {
  display: flex;
  border: 2px solid white;
  width: 100%;
  margin: 4px;
  padding: 8px;
  text-align: center;
}

.username, .entry_date {
  flex: 50%;
}

.text {
  width: 100%;
  border: 2px solid white;
  margin: 4px;
  padding: 8px;
}

/* IDs */