@media only screen and (max-width: 1200px) {
  input[type=submit] {
    display: block;
    margin-bottom: 16px;
  }

  button {
    width: 100%;
    max-width: 100%;
  }

  .control, .entry, .entry-info, .buttons, .info, .edit {
    flex-direction: column;
    flex: 100%;
  }

  .control {
    height: auto;
  }

  .info {
    height: auto;
  }

  .entry-list {
    max-height: 40vh;
  }

  .entry {
    max-width: 100%;
    word-wrap: break-word;
  }

  .edit {
    height: 40vh;
  }

  .text, .username, .entry_date, .entry_info, .buttons {
    box-sizing: border-box;
    width: auto;
    max-width: 97%;
  }

  .field {
    max-width: 684px;
  }
}