@import url('https://fonts.googleapis.com/css?family=Pavanam&display=swap');

/* Default Tags */
* {
  color: white;
  font-family: 'Pavanam', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

ul {
  list-style-type: none;
  width: 45%;
  margin: 16px;
  float: left;
  text-align: center;
}

li {
  padding: 12px;
}

/* Classes */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  flex: 12%;
  background-color: rgb(50, 50, 50);
  display: block;
}

.navbar a {
  padding: 8px;
  transition: color 0.5s ease-in;
}

.navbar a:hover {
  color: rgb(180, 83, 254);
  transition: color 0.5s ease-out;
}

.main {
  flex: 88%;
  background-color: rgb(20, 20, 20);
  text-align: left;
}

.active {
  color: rgba(255, 255, 255, 0.4);
}

.active:hover {
  color: rgba(255, 255, 255, 0.4);
}

/* IDs */
#burgor {
  padding-left: 16px;
  margin: 0;
  font-size: 24px;
  border: none;
  background: none;
}

#burgor:hover {
  cursor: pointer;
}

#burgor:focus {
  outline: none;
}