@media only screen and (max-width: 1400px) {
  .container, .articleInfo, .nameDate {
    flex-direction: column;
    flex-grow: 0;
  }

  .author, .entry_date {
    height: auto;
    width: auto;
    margin: 0;
  }

  .author {
    margin-bottom: 16px;
  }

  .main {
    flex: 100%;
    margin: auto;
    margin-top: 64px;
    flex-grow: 3;
  }

  .left, .right {
    flex: 0%;
    margin: 0;
    height: 0;
    display: none;
    width: 0;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    max-width: 95%;
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    max-width: 80%;
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    max-width: 70%;
    width: 70%;
  }
}