@media only screen and (max-width: 1400px) {
  pre {
    overflow: auto;
  }

  .container {
    flex-direction: column;
  }

  .main {
    flex: 100%;
    width: 90%;
    margin: auto;
    margin-top: 18px;
    flex-grow: 3;
  }

  .left, .right {
    flex: 0%;
    margin: 0;
    height: 0;
    display: none;
    width: 0;
  }
}