@import url('https://fonts.googleapis.com/css?family=Pavanam&display=swap');

/* Default Tags */
* {
  color: white;
  font-family: 'Pavanam', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 8px;
  margin: 8px;
  background: none;
  border: 2px solid white;
  transition-property: background-color border;
  transition: all 0.5s ease-out;
  font-size: 16px;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(180, 83, 254);
  transition: border 0.5s ease-in;
}

input[type=submit]:hover {
  cursor: pointer;
  border: 2px solid rgb(180, 83, 254);
  background-color: rgba(180, 83, 254, 0.1);
  transition-property: background-color border;
  transition: all 0.5s ease-in;
}

h1, a {
  padding: 8px;
  margin: 0;
}

/* Classes */
.container {
  display: flex;
  height: 100vh;
  background-color: rgb(20, 20, 20);
}

.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 17%;
  width: 35%;
}