@import url('https://fonts.googleapis.com/css?family=Pavanam&display=swap');

/* Default Tags */
* {
  color: white;
  font-family: 'Pavanam', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
}

/* Classes */
.container {
  display: flex;
  margin-bottom: 8px;
}

.main {
  flex: 100%;
  min-height: 85vh;
  border: 2px groove rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  max-width: 50%;
  margin: auto;
  margin-top: 64px;
}

.listEntry {
  margin: 8px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transition: background-color 0.5s ease-in;
  text-align: center;
}

.listEntry:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.5s ease-out;
}

.entryInfo {
  display: flex;
}

.articleTitle {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  font-weight: bold;
  font-size: 18px;
}

.articleAuthor, .articleDate {
  flex: 50%;
  padding: 8px;
}